<%= render partial: 'header' %>

<section>
  <h3>Pets I want to Adopt: </h3>
    <% @applicant.pets.each do |pet|%>
      <div id="review_pet-<%= pet.id %>" >
        <p>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>

        <% if @app.approved?(@applicant.id, pet.id) == nil %>
          <%= button_to "Approve Adoption", "/admin/applicants/#{@applicant.id}", params: {approved: true, pet_id: "#{pet.id}"}, method: :patch %>
          <%= button_to "Reject Adoption", "/admin/applicants/#{@applicant.id}", params: {approved: false, pet_id: "#{pet.id}"}, method: :patch %>

        <% elsif @app.approved?(@applicant.id, pet.id) == true %>
          <%= " - Adoption Approved for #{pet.name}" %>

        <% elsif @app.approved?(@applicant.id, pet.id) == false %>
           <%= " - Adoption Rejected for #{pet.name}" %>

        <% end %>
        </p>
      </div>
    <% end %>
</section>
